In [1]:
import pandas as pd

In [ ]:
# Loading the listing data
listing_dataframe = pd.read_csv('data/listings_summary.csv')

In [3]:
listing_dataframe

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,49,2022-06-21,0.30,3,314,1,NaN
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2019-12-02,0.30,2,365,0,NaN
2,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.803800,-73.967510,Private room,75,2,118,2017-07-21,0.72,1,0,0,NaN
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,68,2,575,2023-02-19,3.41,1,106,52,NaN
4,5136,"Large Sunny Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,60,3,2022-08-10,0.03,1,181,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42926,839753193689829909,bright studio in Williamsburg,28057253,Jean,Brooklyn,Williamsburg,40.718976,-73.963985,Entire home/apt,76,7,0,NaN,NaN,1,8,0,NaN
42927,839786573617495393,Room in the heart of LES with Gym& Rooftop BBQ,247439246,Charlene,Manhattan,East Village,40.721703,-73.981473,Private room,32,30,0,NaN,NaN,5,79,0,NaN
42928,839797749155954018,Fantastic 3BD apt in Brooklyn,26349246,Jose,Brooklyn,Bushwick,40.688700,-73.907650,Entire home/apt,127,3,0,NaN,NaN,8,356,0,NaN
42929,839814083143454171,The Coziest Home,48533809,Remmy,Staten Island,Bull's Head,40.616911,-74.164652,Entire home/apt,280,1,0,NaN,NaN,1,87,0,NaN
42930,839817199240589949,378-2L-Red,488616033,Mikey,Brooklyn,Williamsburg,40.713091,-73.957205,Private room,78,90,0,NaN,NaN,69,309,0,NaN

In [4]:
# The column names
listing_dataframe.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [5]:
print(f'Number of Rows:{listing_dataframe.shape[0]}')
print(f'Number of Columns:{listing_dataframe.shape[1]}')

Number of Rows:42931
Number of Columns:18

In [6]:
# data types of column
listing_dataframe.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object

In [7]:
# converting last_review to date
listing_dataframe['last_review'] = pd.to_datetime(listing_dataframe['last_review'])

In [8]:
# Showing what percentage of na values for each column
listing_dataframe.isna().mean()*100

id                                 0.000000
name                               0.027952
host_id                            0.000000
host_name                          0.011647
neighbourhood_group                0.000000
neighbourhood                      0.000000
latitude                           0.000000
longitude                          0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
last_review                       24.001304
reviews_per_month                 24.001304
calculated_host_listings_count     0.000000
availability_365                   0.000000
number_of_reviews_ltm              0.000000
license                           99.997671
dtype: float64

In [9]:
# As license has about 99.99 # na removing this column
listing_dataframe = listing_dataframe.drop('license', axis=1)

In [10]:
listing_dataframe

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,49,2022-06-21,0.30,3,314,1
1,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2019-12-02,0.30,2,365,0
2,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.803800,-73.967510,Private room,75,2,118,2017-07-21,0.72,1,0,0
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,68,2,575,2023-02-19,3.41,1,106,52
4,5136,"Large Sunny Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,60,3,2022-08-10,0.03,1,181,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42926,839753193689829909,bright studio in Williamsburg,28057253,Jean,Brooklyn,Williamsburg,40.718976,-73.963985,Entire home/apt,76,7,0,NaT,NaN,1,8,0
42927,839786573617495393,Room in the heart of LES with Gym& Rooftop BBQ,247439246,Charlene,Manhattan,East Village,40.721703,-73.981473,Private room,32,30,0,NaT,NaN,5,79,0
42928,839797749155954018,Fantastic 3BD apt in Brooklyn,26349246,Jose,Brooklyn,Bushwick,40.688700,-73.907650,Entire home/apt,127,3,0,NaT,NaN,8,356,0
42929,839814083143454171,The Coziest Home,48533809,Remmy,Staten Island,Bull's Head,40.616911,-74.164652,Entire home/apt,280,1,0,NaT,NaN,1,87,0
42930,839817199240589949,378-2L-Red,488616033,Mikey,Brooklyn,Williamsburg,40.713091,-73.957205,Private room,78,90,0,NaT,NaN,69,309,0

Since name and host_name are supposed to be unique values, they cant be imputed with mode. So, we will use "Unknown" to impute them

In [11]:
listing_dataframe["name"] = listing_dataframe["name"].fillna("Unknown")
listing_dataframe["host_name"] = listing_dataframe["host_name"].fillna("Unknown")

The na values in "reviews_per_month" might mean no review. So replacing the na with 0

In [12]:
listing_dataframe["reviews_per_month"].fillna(0, inplace=True)

The "last_review" column indicate last date the listing was reviewed, the presence of na might mean it hasnt been reviewed yet. so imputing it with some date might add uncertainties.To tackle, this a new column named "reviewed" is added which holds binary value indicating if it has been reviewed or not.

In [13]:
listing_dataframe["reviewed"] = (~listing_dataframe['last_review'].isna()).astype(int)

In [14]:
listing_dataframe["reviewed"]

0        1
1        1
2        1
3        1
4        1
        ..
42926    0
42927    0
42928    0
42929    0
42930    0
Name: reviewed, Length: 42931, dtype: int32

In [16]:
# Calculating sentiment for the reviews provided
reviews_dataframe = pd.read_csv("data/reviews_summary.csv")

In [17]:
reviews_dataframe.isna().sum()

listing_id    0
date          0
dtype: int64

In [18]:
reviews_dataframe.isna().mean()*100

listing_id    0.0
date          0.0
dtype: float64

Reviews doesn't require cleaning as there seems to be no missing values

## Dealing with outliers in the listings data
Lets use the IQR method as the data seemed to be skewed

In [20]:
Q1 = listing_dataframe['price'].quantile(0.25)
Q3 = listing_dataframe['price'].quantile(0.75)

IQR = Q3 - Q1

In [21]:
filter = (listing_dataframe['price']>= Q1 - 1.5*IQR) & (listing_dataframe['price'] <= Q3 + 1.5 * IQR)
listing_dataframe_without_outliers = listing_dataframe.loc[filter]

In [25]:
# saving the dataset after removing outliers
listing_dataframe_without_outliers.to_csv("cleaned_listing_data.csv", index=False)